.booksTitle {
    display: flex;
    gap: 1rem;
    height: 4rem;
    padding: 1rem;
}

.booksTitle>input,
.booksTitle>select {
    height: auto;
    margin: 2px;
    padding: 3px;
    text-align: center;
}
.booksTitle>input:hover,
.booksTitle>select:hover {
    border: 2px solid silver;
    box-shadow: inset 0px 0px 7px 2px silver;
}

.booksTitleChat {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}